<section  id="productPanels_section">
	<ul class = "nav nav-pills">
		<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description!</a></li>
		<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specs</a></li>
		<li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
	</ul>

	<!-- this is a directive of type 'Attribute' : return goes in <div> tag-->
	<div product-description class="panel" ng-show="panel.isSelected(1)">
	</div>

	<div product-specs class="panel" ng-show="panel.isSelected(2)">
	</div>

	<div class="panel" ng-show="panel.isSelected(3)">
		<product-reviews></product-reviews>
		<section product-reviewform></section>
	</div>
			
</section>